# ================== #
# For Mac developers #
# Unity generated    #
# ================== #
Temp/
obj/
Build
Library/
android/
webgl/
   
# ===================================== #
# Visual Studio / MonoDevelop generated #
# ===================================== #
.vs
ExportedObj/
*.svd
*.userprefs
*.csproj
*.pidb
*.suo
*.sln
*.user
*.unityproj
*.booproj
*.orig
*.app
*.exe
*.*_data
*.dll

Build/iOS
Build/android

*.[od]

# ============ #
# OS generated #
# ============ #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
Icon?
ehthumbs.db
Thumbs.db
*.meta

# ============== #
# Screen capture #
# ============== #
iblock_screenshot.png

